BASE_API_URL=https://restful-booker.herokuapp.com/

BASE_UI_URL=https://automationintesting.online/

API_USERNAME=admin

API_PASSWORD=password123

BROWSER=chromium

HEADLESS=true

PLAYWRIGHT_TIMEOUT=10000

VIEWPORT_WIDTH=1440

VIEWPORT_HEIGHT=900

FAKER_LOCALE=en_US